@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: url(images/ShinyOverlay.svg) center / cover;
}

/* Hide the default checkbox style */
.form-check-input + .form-check-label::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 45px;
  margin-right: 0px;
}

/* Optional: Style the label text for the checkbox */
.form-check-label {
  font-size: 16px;
  margin-right: 75px;
  /* Add any other styles you want for the label */
}


/*Drop Down list here*/

.wrapper{
  margin-bottom: 5px;
  width: calc(70% / 2 - 20px);
  position:relative;

}
.select-btn, li{
  display: flex;
  align-items: center;
  cursor: pointer;

}
.select-btn{
  height: 40px;
  padding: 0 25px;
  font-size: 14px;
  background: #fff;
  border-radius: 7px;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.select-btn i{
  font-size: 20px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}
.content-dropdown{
  position:absolute;
  top:100%;
  display: none;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  z-index: 1000; /* Adjust the z-index value as needed */
}
.wrapper.active .content-dropdown{
  display:block;
}
.content-dropdown .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 10px;
  color: #999;
  font-size: 16px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.content-dropdown .options{
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  height: 35px;
  padding: 0 5px;
  font-size: 14px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
/*End of Drop Down Box*/

.container{
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 70px;
  border-radius: 5px;
  background: linear-gradient(135deg, #5288b4, #dbdbdb);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 5px;
  width: calc(70% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #5288b4;
}
 
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #5288b4, #454c94);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #5288b4, #454c94);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
